.form-group {
  margin-bottom: 15px;
  label.in-label {
    display: block;
    margin-bottom: 5px;
  }
  .btn-in-action {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.full-width {
  width: 100% !important;
}
.half-width {
  width: 50% !important;
}
.el-checkbox__label {
  font-size: 15px;
}
.el_checkboc__inner {
  width: 15px;
  height: 15px;
}
.el-dropdown-menu {
  width: fit-content;
}
.el-select-dropdown.el-popper {
  max-width: 600px;
}
.el-input.is-disabled {
  .el-input__inner {
    background-color: #fcfcfc !important;
    border-color: #DCDFE6 !important;
    color: #606266 !important;
  }
}
.select-position-popper {
  .el-select-dropdown__item {
    white-space: normal;
    height: auto;
    padding: 6px 20px;
    line-height: 20px;
  }
}
.approver-option-name {
  font-size: 12px;
  font-weight: bold;
}
.required::after {
  content: " *";
  font-size: 120%;
  color: $colorDanger !important;
}
.el-input-group__prepend {
  padding: 0 10px !important;
}
.el-form {
  margin-bottom: 20px;
}
.el-form-item__error {
  position: initial !important;
}
.el-form--label-top .el-form-item__label {
  padding: 0px !important;
}
.add-delete-input {
  width: 100%;
  display: flex;
  align-items: center;
  .btn {
    padding: 7px 7px;
    margin: auto;
    margin-left: 10px;
    height: 30px;
    width: 30px;
  }
  .input {
    flex-grow: 1;
  }
}
.button-after {
  padding: 8px 0px !important;
  * {
    font-size: 13px;
  }
}
.line-height-1 {
  line-height: 1;
}
.ck-editor__editable_inline {
  min-height: 100px;
}